$black: #000;
$gray-light: lighten($black, 95%); // #f2f2f2
$gray: lighten($black, 50%); // #808080

$green: #219653;
$green-light: lighten($green, 60%); // #eefbf4

$color: $black;
$base-font-size: 20px;
